.header-animation,
.header-animation__under {
  opacity: 0;
  transform: translateY(20px);
}

.header-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}

.header-animation__under.element-show__under {
  opacity: 1;
  transition: all 2s;
  transform: translateY(0%);
}

.from-left__text {
  opacity: 0;
  transform: translateX(-20px);
}

.from-left__text.text-show {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}

.from-right__text {
  opacity: 0;
  transform: translateX(20px);
}

.from-right__text.text-show {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}

.from-top__text {
  opacity: 0;
  transform: translateY(-20px);
}

.from-top__text.text-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}

.from-bottomn__text {
  opacity: 0;
  transform: translateY(20px);
}

.from-bottomn__text.text-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}
