@import "./../../variables.css";

.water-property__header {
  height: 116px;
  width: 1050px;
  font-size: 48px;
  font-weight: 800;
  font-family: "Montserrat-Bold";
  color: var(--accent-color);
  text-align: center;
  letter-spacing: 0.001em;
  line-height: 1.2em;
  position: relative;
  z-index: 5;
}

.water-property__description {
  color: white;
  font-size: 25px;
  font-family: "Montserrat-Regular";
  letter-spacing: -0.02em;
  position: relative;
  z-index: 5;
}
