@import "./../../variables.css";
@import "./water-property-content.css";
@import "./water-property-img.css";
@import "./water-property-animation.css";

.water-property {
  background-color: var(--main-color);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1080px;
  padding: 33px 10px 0 0;
}

.water-property__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}

@media (max-width: 785px) {
  .water-property {
    padding-top: 0;
  }
}
