@import "./../../../variables.css";

.shop-item__card {
  width: 372px;
  border-radius: 10px;
}

.shop-card-item__product {
  width: 100%;
}

@media (max-width: 1470px) {
  .shop-items__card {
    max-width: 771px;
  }
}

@media (max-width: 814px) {
  .shop-items__card {
    max-width: 372px;
  }
}

@media (max-width: 785px) {
  .shop-item__card {
    max-width: 280px;
  }

  .shop-card-item__product {
    width: 80%;
  }
}
