@import "./../variables.css";

.footer__container-right-content {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  padding: 93px 10px 10px;
}

.right-content__description {
  font-family: "Roboto-Light";
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 25px;
}

.right-content__input {
  width: 98%;
  height: 60px;
  border: none;
  border-radius: 15px;
  font-family: "Roboto-Light";
  font-size: 18px;
  color: #9da0b8;
  padding-left: 18px;
  margin-bottom: 10px;
}

.right-content__form-checkbox {
  margin-bottom: 31px;
}

.right-content__checkbox-label {
  font-family: "Roboto-Light";
  font-size: 18px;
  color: #3c4165;
  display: flex;
  align-items: center;
  gap: 8px;
}

.right-content__checkbox-input {
  width: 25px;
  height: 40px;
  display: block;
}

.right-content__btn {
  background: linear-gradient(
    to bottom right,
    var(--left-gradient),
    var(--right-gradient)
  );
  border: none;
  width: 228px;
  height: 56px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat-Bold";
  font-size: 20px;
  color: var(--primary-color);
}

@media (max-width: 1100px) {
  .right-content__description {
    font-size: 12px;
  }

  .right-content__input {
    font-size: 12px;
    height: 35px;
  }

  .right-content__checkbox-input {
    width: 17px;
  }

  .right-content__checkbox-label {
    font-size: 12px;
  }

  .right-content__btn {
    font-size: 16px;
  }
}

@media (max-width: 785px) {
  .footer__container-right-content {
    padding-top: 10px;
  }

  .right-content__btn {
    margin: 0 auto;
  }
}
