@import "./../variables.css";

@import "./footer-left.css";
@import "./footer-centre.css";
@import "./footer-right.css";

footer {
  min-height: 475px;
  background-color: var(--main-color);
  background-image: url(./../../assets/img/footer/bgi-footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__container {
  max-width: var(--desktop);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
  padding: 40px 10px 10px;
}

@media (max-width: 785px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
