.accordion {
  width: 100%;
  max-width: 966px;
  margin: 0 auto;
  padding: 0 20px;
}

.accordion-item {
  margin: 0 0 10px;
  min-height: 96px;
  background: none;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.accordion-item__title {
  display: block;
  padding: 10px 30px 10px 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Exo2-SemiBold";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
}

.accordion-item__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s ease-out;
}

.accordion-item__content p {
  transition: max-height 0.75s ease-out;
}

.accordion-item__content p,
.questions__text-wrapper-item2 {
  color: black;
  font-size: 18px;
  font-family: "Exo2-Regular";
  padding: 10px;
  line-height: 1.5;
}

.questions__text-wrapper-item2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="checkbox"]:checked
  + .accordion-item__title
  + .accordion-item__content {
  max-height: 1000px;
  transition: max-height 1s ease-in;
}

.questions__text-wrapper-item2 {
  font-family: "Exo2-Regular";
  font-size: 18px;
  line-height: 1.5;
}

.line-item2__number {
  margin-right: 10px;
}

.item-3__btn {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  padding: 12px 0;
  font-family: "Exo2-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: 2px solid skyblue;
  background: none;
  margin: 10px auto;
  display: block;
  cursor: pointer;
  color: black;
}

.item-4__link {
  display: block;
  text-align: center;
}

.accordion-item__title {
  position: relative;
}

.accordion-item__title::after {
  content: url("./../../../assets/img/pages/questions/closed_arrow.png");
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transition: 1s;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

input[type="checkbox"]:checked + .accordion-item__title::after {
  transition: 1s;
  transform: rotate(90deg);
}

@media (max-width: 767px) {
  .accordion-item__title::after {
    margin-left: 10px;
  }
}

@media (max-width: 400px) {
  .accordion-item__title {
    font-size: 18px;
    line-height: 25px;
  }

  .accordion-item__content p,
  .accordion-item__content div {
    font-size: 15px;
  }
}
