@import "./../../variables.css";

@import "./our-products-cards.css";

.our-products {
  min-height: 1270px;
  position: relative;
  z-index: 1;

  background: var(--main-color);
  padding-top: 144px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.our-products__container {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 66px;
  padding-right: 15px;
  align-items: center;
  flex-direction: column;
  gap: 37px;
  width: var(--desktop);
  padding-bottom: 20px;
  padding-left: 10px;
}

.our-products__img {
  top: -150px;
}

.our-products__header {
  font-family: "Montserrat-Bold";
  font-size: 56px;
  color: var(--primary-color);
}

.our-products__btn-shope {
  margin-top: 19px;
  width: 241px;
  height: 81px;
  font-size: 23px;
}

@media (max-width: 960px) {
  .our-products__img {
    top: -50px;
  }

  .our-products__container {
    padding-bottom: 100px;
  }
}

@media (max-width: 785px) {
  .our-products {
    padding-top: 75px;
  }

  .our-products__container {
    padding-top: 25px;
    padding-bottom: 100px;
  }

  .our-products__header {
    font-size: 25px;
  }
}
