@import "./../../variables.css";
@import "./doctors-opinion-content.css";

.doctor-opinion {
  background-color: var(--main-color);
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1215px;
  padding-top: 95px;
}

.doctor-opinion__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
  max-width: var(--desktop);
}

.water-opinion__header {
  height: 10px;
  font-size: 56px;
  font-weight: 800;
  font-family: "Montserrat-Bold";
  color: var(--accent-color);
  letter-spacing: 0.001em;
  line-height: 1.2em;
  position: relative;
  z-index: 5;
}

.water-opinion__header-accent {
  font-family: "Montserrat-Bold";
  font-size: 298px;
  color: #29285a;
  padding-left: 5px;
  letter-spacing: -0.015em;
}

.doctor-opinion__reviews {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  color: var(--accent-color);
  padding-top: 25px;
  padding-left: 6px;
  padding-right: 10px;
  min-height: 85px;
}

.doctor-opinion__btn {
  width: 373px;
  height: 85px;
  background: linear-gradient(
    to bottom right,
    var(--left-gradient),
    var(--right-gradient)
  );
  color: var(--primary-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.5);
  font-family: "Montserrat-Bold";
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -0.07em;

  cursor: pointer;

  margin-left: 8px;
}

@media (max-width: 1572px) {
  .doctor-opinion {
    padding-bottom: 20px;
  }

  .water-opinion__header {
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .water-opinion__header-accent {
    font-size: 110px;
    margin: 0 auto;
  }

  .doctor-opinion__reviews {
    margin: 0 auto;
  }

  .doctor-opinion__btn {
    margin: 0 auto;
  }

  .doctor-opinion__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 785px) {
  .doctor-opinion__btn {
    width: 250px;
    font-size: 18px;
    height: 60px;
    margin: 20px auto 0;
  }

  .water-opinion__header {
    font-size: 25px;
  }

  .water-opinion__header-accent {
    font-size: 30px;
  }

  .doctor-opinion__reviews {
    font-size: 15px;
  }
}
