@import "./../../../style/variables.css";
@import "./knowledge-item-title.css";
@import "./knowledge-item-content.css";
@import "./knowledge-item-bottomn.css";

main {
  min-height: 100vh;
  background-color: #f3f7fb;
}

header {
  background-color: var(--main-color);
}

body {
  background: none;
  background-color: #f3f7fb;
  font-family: "Exo", sans-serif;
}

footer {
  background: none;
}

.post_tags {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.post_tags a {
  color: #000;
  background-color: #fff;
  border: 2px solid #e1e1e1;
  padding: 0.5rem 0.75rem 0.375rem 0.625rem;
  margin: 0 0.625rem 0.625rem 0;
  display: inline-block;
  font-size: 0.8125rem !important;
  line-height: 1.2;
  font-weight: 400;
  transition: all 0.3s ease;
}

@media (max-width: 790px) {
  header {
    width: 100vw;
  }
}

@media (max-width: 767px) {
  #quote-block {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }

  #quote-block .content {
    max-width: 100%;
  }

  #quote-block .content h2 {
    font-size: 20px;
    line-height: 120%;
  }

  #quote-block .content h3 {
    font-size: 16px;
    line-height: 125%;
  }

  #quote-block .content p {
    font-size: 16px;
    line-height: 125%;
  }

  #quote-block .content img {
    max-width: 100%;
  }

  .kl-promo__inner {
    margin-top: 50px;
    max-width: 100%;
  }

  .kl-promo__inner p {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #37474f;
    line-height: 1.4;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }

  .kl-promo__inner ul {
    margin-left: 1.25rem;
    list-style-position: outside;
    line-height: 1.6;
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }

  .kl-promo__inner ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 16px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }

  .kl-promo__inner ul li:before {
    content: "•"; /* код символа точки */
    color: rgb(47, 47, 238);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  .title__header h1 {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 16px;
    font-weight: 600;
    color: #37474f;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .title__header p {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 16px;
    font-weight: 400;
    color: #4b636e;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .title__header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .title__recomendation {
    flex-wrap: wrap;
  }
}
