@import "./../../variables.css";

.intro__img {
  position: relative;
  margin-left: -86px;
  top: 10px;
}

.absolut {
  position: absolute;
}

.intro__img-bottle {
  z-index: 2;
  top: 183px;
  left: -51px;
}

.intro__img-ionizer {
  position: relative;
  z-index: 5;
  width: 512px;
  height: 518px;
  top: 2px;
  left: 1px;
}

.intro__img-water1 {
  top: -85px;
  left: 23px;
  z-index: 4;
}

.intro__img-water2 {
  z-index: 3;
  top: 20px;
  right: -238px;
}

.intro__img-shape1 {
  z-index: 1;
  top: 403px;
}

.intro__img-shape2 {
  z-index: 2;
  top: 470px;
}

.intro__img-shape3 {
  z-index: 0;
  top: -145px;
}

@media (max-width: 1280px) {
  .intro__img-ionizer {
    width: 295px;
    left: -77px;
    top: 400px;
    z-index: 20;
  }

  .intro__img-bottle {
    top: 517px;
    left: -100px;
    width: 99px;
    z-index: 19;
  }

  .intro__img-water1 {
    top: 270px;
    left: 17px;
  }

  .intro__img-water2 {
    top: 396px;
    right: 12px;
  }
}

@media (max-width: 785px) {
  .intro__img-ionizer {
    width: 300px;
    height: 200px;
    position: relative;
    gap: 10px;
    top: 0;
    left: 30px;
  }

  .intro__img-ionizer img {
    max-height: 100%;
    margin: 0 auto;
  }

  .intro__img-bottle {
    width: 65px;
    left: 55px;
    top: 69px;
  }

  .intro__img-water1 {
    left: 69px;
    top: -20px;
    width: 123px;
  }

  .intro__img-water2 {
    top: 22px;
    right: -31px;
    width: 127px;
  }

  .intro__img-shape1 {
    top: 495px;
  }

  .intro__img-shape2 {
    top: 525px;
  }
}
