@import "./../../variables.css";
@import "./intro_img.css";
@import "./intro_content.css";
@import "./intro-animation.css";

.intro {
  min-height: 965px;
  position: relative;
  z-index: 1;
  background: var(--main-color);
  padding-top: 144px;
  background-image: url(./../../../assets/img/sections/intro/Shape3.png);
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}

.intro__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: 100%;
  column-gap: 75px;
}

@media (max-width: 1282px) {
  .intro {
    padding-top: 80px;
    min-height: 900px;
  }
}

@media (max-width: 785px) {
  .intro {
    padding-top: 120px;
    min-height: 830px;
  }

  .intro__container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 360px) {
  .intro {
    min-height: 730px;
  }
}
