@import "./../../variables.css";

.intro__img {
  position: absolute;
  top: 11px;
  left: 907px;
}

.intro__img-contsainer {
  position: relative;
}

.absolut {
  position: absolute;
}

.intro__img-bottle {
  z-index: 2;
  top: 183px;
  left: -51px;
}

.intro__img-ionizer {
  position: relative;
  z-index: 5;
  width: 512px;
  height: 518px;
  top: 2px;
  left: 1px;
}

.intro__img-water1 {
  top: -85px;
  left: 23px;
  z-index: 4;
}

.intro__img-water2 {
  z-index: 3;
  top: 20px;
  right: -238px;
}

.intro__img-shape1 {
  z-index: 1;
  top: 403px;
}

.intro__img-shape2 {
  z-index: 2;
  top: 470px;
}
